* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}

h2 {
  font-size: 32px;
}

.toggle {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  top: 50px;
  right: 50px;
  z-index: 10;
}

.toggle input {
  position: absolute;
  appearance: none;
}

.toggle .input {
  position: relative;
  appearance: none;
  display: inline-block;
  width: 50px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.toggle .input .after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 50%;
  left: 3px;
  transform: translate(0, -50%);
  background-color: #FFB866;
  transition: all .5s;
}

.toggle input:checked + .input .after {
  transform: translate(19px, -50%);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
}

.vertical-slider {
  flex-direction: row;
}

.horizontal-slider {
  flex-direction: column;
}

.slider {
  --slides-count: 4;
  position: relative;
  overflow: hidden;
}

.first-slider {
  flex-grow: 2;
}

.second-slider {
  flex-grow: 3;
}

.slider-container {
  position: relative;
}

.slider-container > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-slider .slider-container > div {
  flex-direction: column;
  color: white;
}

.second-slider .slider-container > div {
  background-size: cover;
  background-position: 50% 50%;
}

.horizontal-slider .slider-container {
  display: flex;
  width: calc((var(--slides-count) + 2) * 100vw);
  height: 100%;
}

.horizontal-slider .slider-container > div {
  width: 100vw;
}

.vertical-slider .slider-container {
  height: calc(var(--slides-count) * 100%);
}

.vertical-slider .slider-container > div {
  height: 100vh;
}

.slider-container.shifting {
  transition: all .5s
}

.button {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  cursor: pointer;
  border: none;
  outline: none;
  transform-origin: center;
  transition: .5s;
}

.button svg {
  width: 50%;
  height: 50%;
}

.button polygon {
  transition: fill .5s;
}

.button:hover polygon {
  fill: #000000;
}

.horizontal-slider .up-button {
  top: calc(100% - 50px);
  left: calc(50% - 25px);
  border-radius: 5px 5px 0 0;
}

.horizontal-slider .down-button {
  top: 0;
  left: calc(50% + 25px);
  border-radius: 0 0 5px 5px;
}

.vertical-slider .up-button {
  top: calc(50% - 25px);
  left: calc(100% - 50px);
  border-radius: 0 0 5px 5px;
  transform: rotate(90deg);  
}

.vertical-slider .down-button {
  top: calc(50% + 25px);
  left: 0;
  border-radius: 5px 5px 0 0;
  transform: rotate(90deg);
}